@mixin nav{
    border: $third-color solid;
    padding: 0.125em;
    text-decoration: none;
}
@mixin form{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border: $secondary-color solid;
    padding: 5px;
    width: 50%;
}
@mixin text-center{
    text-align: center;
}
@mixin flex-end{
    display: flex;
    justify-content: flex-end;
}
@mixin aumento{
    transform: scale(1.5);
    cursor: pointer;
}